<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506910508131-bqcmmn3gt91b5kj2htniuujpkqfat114.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506910508131-bqcmmn3gt91b5kj2htniuujpkqfat114</string>
	<key>API_KEY</key>
	<string>AIzaSyCDsyiQY4yUoJsdRj6anLSo9d0xtVuW0Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>506910508131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app1</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-e489d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-e489d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506910508131:ios:e185e1cb4663885f89e456</string>
</dict>
</plist>